<footer class="footer">

        <h6>Acerca de la empresa</h6>


        <h6>atajos del nav</h6>
        <h6>Datos de Contacto</h6>

</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>