<nav class="navbar">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form action="" class="buscador">
            <input type="text" class="form-control">
            <button type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
        </form>
        <div class="form-group">
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
        </div>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <a href="/" class="nav-link active">Inicio</a>
        </div>
    </div>
</nav>