<%- include('../template/head'); %>
<%- include('../template/navbar'); %>

<div class="container">
    <% if(user){ %>
        <h1> <%= user %></h1>
        <h2>hola</h2>
    <% }else { %>
        <h3>tenes que iniciar sesion para ver esta pagina</h3>
    <% } %>
   
</div>

<%- include('../template/footer'); %>