<footer>
    <div>
        <h6>Acerca de la empresa</h6>
    </div>
    <div>
        <h6>atajos del nav</h6>
    </div>
    <div>
        <h6>Datos de Contacto</h6>
    </div>
</footer>

    <!--JQUERY-->
    <script src="/public/jquery.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--BOOTSTRAP-->
    <script src="/public/bootstrap.js"></script>
    <!--DATATABLES-->
    <script src="/public/datatables.js"></script>
    <!--SWEETALERT-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.6.5/dist/sweetalert2.all.min.js"></script>

</body>
</html>
